.vscode/**
**/*.map
**/.eslintrc.json
node_modules/**
**/node_modules/**
src/**
build.mjs
tsconfig.json
package-lock.json
*.vsix
# out/ is included (bundled extension)
icons/
../../node_modules/**
../../../node_modules/**
